body{
    /* Maren prederterminado d elas páginas web */
    margin: 0;
    /* Margen para dentro */
    padding: 0;
    /* Fuente de texto */
    font-size: 12px;
    /* Fuente de texto */
    font-family: Arial, Helvetica, sans-serif;
}

/* ***************************************************************************************** */
/* ************************************************************************************* */
/* ******************************************************************************** */
/* ****************** NAVEGACIÓN  ****************** */

header{
    /* widht: anchura //  height: altura */
    width: 100%;
    height: 55px;
}

header nav{
    display: flex;
    /* Mover mi nav hacía la derecha */
    justify-content: flex-end;
}

header nav .nav-right-section{
    /*Eliminar viñetas */
    list-style: none;
    width: 250px;
    /* Hacemos el elemento flexible */
    display: flex;
    /* Centramos */
    justify-content: space-between;
    /* Cdentrado vertical */
    align-items: center;
    height: auto;
}

nav .nav-right-section a {
    /* Quitar delineado // linea */
    text-decoration: none;
    /* Color de texto */
    color: rgba(0, 0, 0, .87);
}

nav .nav-right-section a:hover {
    display: flex;
    text-decoration: underline;
    color: rgba(0, 0, 0, .87);
    
}

nav .nav-right-section .menu {
    background-image: url("https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png");
    width: 20px;
    height: 20px;
    /* Tamaño de imágen de fondo -- contenida */
    background-size: contain;
    background-repeat: no-repeat;
}

nav .nav-right-section img {
    /* Margen - right // margen derecha y hacer espacio a la foto*/
    margin-right: 20px;
    border-radius: 100%;
}

/* ***************************************************************************************** */
/* ************************************************************************************* */
/* ******************************************************************************** */
/* ****************** MAIN ****************** */

main{
    margin-top: 220px;
    /* Centrar elemnetos */
    text-align: center;
    margin: 0 auto;
    
}

main .main-logo{
    
    width: 500px;
    /* PROPIEDAD: VALO1 VALOR2 */
    /* PROPIEDAD : VERTICAL HORIZONTAL */
    margin: 0 auto;
}

main .main-logo img{
    /* Editar tamaño de la imagen */
    height: 92px;
}

/* INPUT SCETION */
main .main-input {
    /* anchura */
    width: 584px;
    height: 44px;
    /* CENTRAR ELEMENTO */
    margin: 0 auto;
    /* AGREGAR MARGEN INFERIOR */
}

main .main-input-container {
    width: 582px;
    height: 43px;
    border: 1px groove #dfe1e5;
    border-radius: 24px;
    margin-top: 30px;
}

main .main-input input {
    height: 45px;
    border: none;
    outline: none;
    width: 350px;
    background-color: transparent;
    color: rgba(0,0,0,.87);
    text-align: start;
;

}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    background-position: center;
    /* Para que no se repita */
    display: flex;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    margin-left: 10px;  
    align-items: center;
    padding-right: 13px;
    margin-top: 10px;
  
}

main .main-input .micro-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 2.5%;
    padding-top: 9%;
    padding-right: 1px;
    padding-bottom: 1px;
    margin-left: 140px;
    margin-right: 0px;

}

main .main-input .cam-icon {
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    padding-left: 15px;
    padding-top: 9%;
    padding-right: 4px;
    background-repeat: no-repeat;
    margin-left: 15px;
    background-repeat: no-repeat;

}

main .main-input-container:hover {
    box-shadow: 0 1px 6px #a7afbd;
    border-color: #dfe11500;
}

/* MAIN BUTTONS SECTION */
main .main-buttons {
    width: 650px;
    /* Anchura */
    /* Vertical -Horizontal */
    margin: 0 auto;
}

main .mian-buttons div {
    display: inline;
}

main .main-buttons button {
    /* SEPARACIÓN ENTRE BUSCAROR Y BOTONES */ 
    margin-top: 30px;
    /* Eliminar borde negro -- NONE or 0px */
    border: none;
    height: 40px;
    background-color: #f8f9fa;
    color: #3c4043;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 14px;
    margin-right: 10px;
}

main .main-buttons button:hover {
    color: #202124;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
}

.mexico {
    background-color: #f2f2f2;
    display: flex;
    padding: 15px 30px;
    margin-bottom: 0px;
    margin-top: 200px;
    font-size: 15px;
    color: #202124;
    /* rayita debajo de México*/
    border-bottom: 1px solid #dadce0;
}

footer {
    display: flex;
    background-color: #f2f2f2;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0%;
}


footer .footer-left {
    text-decoration: none;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 0px;
}

footer .footer-right {
    text-decoration: none;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 24px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}

a:hover{
    color: #202124;
    text-decoration: underline;
}

footer .footer-left .sobregoogle {
    padding: 15px;
    white-space: nowrap;
}

footer .footer-left .publicidad{
    padding: 15px;
    white-space: nowrap;
}

footer .footer-left .negocios{
    padding: 15px;
    white-space: nowrap;
}

footer .footer-left .comofunciona{
    padding: 15px;
    white-space: nowrap;
}

footer .footer-right .privacidad{
    padding: 15px;
    white-space: nowrap;
}

footer .footer-right .condiciones{
    padding: 15px;
    white-space: nowrap;
}

footer .footer-right .preferencias{
    padding: 15px;
    white-space: nowrap;
}







    